PORT=4000
NODE_ENV=development
LOG_LEVEL=info

POSTGRES_USER=odoo-user
POSTGRES_PASSWORD=odoo-password
POSTGRES_DB=odoo-server
POSTGRES_HOST=localhost
POSTGRES_PORT=5440

DATABASE_URL=postgresql://odoo-user:odoo-password@localhost:5440/odoo-server

REDIS_PORT=6385
REDIS_URL=redis://localhost:6385

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
