@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.9581 0 0);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.9581 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9581 0 0);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.6254 0.1934 22.97);
  --border: oklch(0.9404 0 0);
  --input: oklch(0.9404 0 0);
  --ring: oklch(0.665 0.015 286.067);
  --radius: 0.45rem;
}

.dark {
  --background: oklch(0.2044 0 0);
  --foreground: oklch(0.9404 0 0);
  --card: oklch(0.2044 0 0);
  --card-foreground: oklch(0.9404 0 0);
  --popover: oklch(0.2311 0 0);
  --popover-foreground: oklch(0.9404 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.2541 0.003 16.827);
  --secondary-foreground: oklch(0.9404 0 0);
  --muted: oklch(0.3132 0 0);
  --muted-foreground: oklch(0.7668 0 0);
  --accent: oklch(0.2809 0 0);
  --accent-foreground: oklch(0.9404 0 0);
  --destructive: oklch(0.6254 0.1934 22.97);
  --border: oklch(0.2516 0 0);
  --input: oklch(0.3182 0 0);
  --ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]),
[role="checkbox"]:not(:disabled),
label[for] {
  cursor: pointer;
}
